
* {
	margin: 0;
	padding: 0;

}


.global-header {
	width: 96%;
	padding: 2%;
	position: absolute;
	top: 0px;
	color: #fff;
	background-color: #1995dc;
	border-bottom: 1px solid #adadad;
}

.global-header a {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #EAE9F2;
	font-family: "Meriyo"; 	
}

.horizontal ul, .horizontal li {
	display: inline;
	color: #EAE9F2;
	font-family: "Meriyo"; 
	font-weight: bold;
	margin-left: 5%;
}

.logo {
	font-family: "Meriyo"; 
	font-weight: bold;
	float: left;
	margin-left: 10%;
}

.main img {
	margin: 7% 0% 0% 15%;

}

.signup {
	border:1px solid #EAE9F2;
	border-radius: 3px; 
	font-size:29px;
	font-family:"Meiryo"; 
	padding: 14px 14px 14px 14px; 
	text-decoration:none; 
	display:inline-block;
	color: #EAE9F2;
	background-color: #1995dc; 
	border-radius: 10px;
	margin-left: 43%;
	margin-bottom: 5%;

}

#sigma-container {
	margin: auto;
	margin-top: 40px;
	margin-bottom:6px;
	max-width: 1600px;
	width:75%;
	height: 800px;
	border: solid 3px; 
	background: #000;
}



.team-number {
    background-color:#1995dc;
    text-align: center;
    font-size: 30pt;
}

.member-info {
    text-aligh: center;
    font-size: 25pt;
    overflow:hidden;
    margin-top: 30px;
    margin-bottom: 20px;
}
.member-info img {
    width: 12%;
    float:left;
    margin-right: 20px;
}
.power {
    margin-left: 30px;
    padding: 10px;
    width: 70%;
    float:left;
    line-height: 2em;
}
hr {
    padding-top: 30px;
    padding-bottom: 30px;
}

